@import "colors";

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: $primary-color;
}

.chat-container {
    @extend .container;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

